<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    <head th:replace="~{common/head::head}" >
    <body>
        <div th:replace="~{common/header-nav::nav-bar}"></div>
        <div class="container">
            <div class="row my-5">
                <div class="col-3">
                    <ul class="list-group hover-shadow">
                        <li class="list-group-item active">Purpose</li>
                        <li class="list-group-item">Category </li>
                    </ul>
                </div>
                <div class="col-9">
                    <form th:action="@{/}" class="form-control-plaintext">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input class="form-control" name="recipe" id="recipe"type="search" th:value="${recipe}" placeholder="Search Recipe" aria-label="Search" >
                        </div>
                    </form>

                    <span th:each="recipe:${recipes}">  
                        <div class="col my-2">
                            <div class="row g-0 border rounded  position-relative">
                                <div class="col-md-3 col-xs-6">
                                    <!--<div class="col-auto  d-lg-block">-->
                                    <img class="my-2 mx-2 img-thumbnail img-fluid" th:src="@{${recipe.image}}" style="height: 200px;width: 200px;"/>
                                </div>
                                <!--                                <div class="col p-4 ">-->
                                <div class="col-md-9 col-xs-12 mt-2">
                                    <a class="h4 col-xs-6 text-primary" target="_blank" th:href="@{/recipeDetails/{title}(title=${recipe.title})}"><span th:text="${recipe.title}" /></a>
                                    <p><h6>Description</h6><span th:text="${recipe.description}" /></p>
                                    <p><h6>Information</h6><span th:text="${recipe.information}" /></p>
                                    <span th:each="nutrition: ${recipe.nutrition}"> 
                                        <h6><a>Calories:&nbsp;&nbsp;</a><span th:text="${nutrition.calories}" /><a>  per&nbsp <span th:text="${nutrition.amountPerServing}" /> </a></h6>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </span>

                    <br>





                    <div th:if = "${totalPages > 1}">
                        <div class = "row col-sm-10 pagination">
                            <ul class="pagination">
                                <div class = "col-sm-2 page-item">
                                    Total Recipes: [[${totalItems}]] 
                                </div>

                                <a th:if="${currentPage > 1}" th:href="@{${baseUrl}}+@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${recipe != null ? '&recipe='+recipe :''}}">First</a>
                                <span th:unless="${currentPage > 1}">First</span>
                                &nbsp;&nbsp;

                                <a th:if="${currentPage > 1}" th:href="@{${baseUrl}}+@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${recipe != null ? '&recipe='+recipe :''}}">Previous</a>
                                <span th:unless="${currentPage > 1}">Previous</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;

                                <div class = "col-sm-1" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <li class="page-item"><a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${recipe != null ? '&recipe='+recipe :''}}">[[${i}]]</a></li>
                                    <li class="page-item active"><a th:unless="${currentPage != i}">[[${i}]]</a></li>
                                </div>
                                &nbsp;&nbsp;
                                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${recipe != null ? '&recipe='+recipe :''}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                                &nbsp;&nbsp;

                                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${recipe != null ? '&recipe='+recipe :''}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <!--    <a th:href="@{${baseUrl}}">Click to More</a>-->
</body>
</html>
